.app__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form__container {
    margin: -10px;
  }
}

.new-appointment__container {
  padding: 10px 90px 30px 60px;
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 10px;
  border: 1px solid #c1c1c1;
}

.appointment-list__container {
  margin-top: 30px;
  padding: 10px 30px 30px 30px;
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 10px;
  border: 1px solid #c1c1c1;
}
