html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0 0 5rem 0;
  font-family: 'Poppins', sans-serif;
  background: url('./assets/images/dogs-background.jpg') no-repeat bottom;
  background-attachment: fixed;
}
